.btn {
    color: black;
    border-radius: 5px;
    border: 1px solid black;

    &:hover{
        cursor: pointer;
    }
}

.btnDelete{
    margin-right: 10px;
    background-color: red;
    color: white;
    
}

.content{
    width: 50%;
}